/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Colors used:
background-color: #f3f3f3;
Text Color (white): #ffffff;
Secondary Text color (Black): #000000;
Primary Color (black): #0b0b0b;
Secondary Color (Blue): #1a27c9;
tertiary-color: #f3f3f3;
Button-color: #0E156F;
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #f3f3f3;
  color: #000;
  font-family: 'sfpro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

header {
  background-color: #0b0b0b;
}

.hello__world {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  max-width: 100%;
  padding-top: 80px;
}

.more__info {
  text-align: center;
}

.find__me {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.our__story {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

.story__book {
  font-size: 20px;
  text-align: center;
}

.our__work {
  text-align: center;
  font-weight: 700;
}

p {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 25px;
  margin-top: -50px;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #1a27c9;
  text-decoration: none;
}

a:focus {
  color: #1a27c9;
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 10px;
  background-color: #1a27c9;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.8s opacity;
  -o-transition: 0.8s opacity;
  transition: 0.8s opacity;
}

.button__secondary {
  background-color: #080d42;
  color: #fff;
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button-container {
  text-align: center;
}

.page-header__item {
  width: 60px;
  height: 60px;
  padding: 15px 0;
}

.social-media {
  margin-top: -30px;
  text-align: center;
}

.table {
  font-size: 15px;
  position: relative;
  text-align: center;
  margin: 30px auto 20px;
  max-width: 100%;
}

.about-textbox {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.contact-textbox {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.profile__svg {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.download {
  text-align: center;
}

.profile {
  max-width: 1000px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 70px;
  position: fixed;
  top: 0;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  padding: 0;
}

.navigation-list {
  list-style-type: none;
}

.toggle {
  font-size: 26px;
  line-height: 60px;
  color: #fff;
  display: none;
}

.checkbox {
  display: none;
}

.navigation-list__item {
  text-decoration: none;
  padding: 0 10px;
}

.navigation-list li {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

.grid__titles {
  padding-bottom: 50px;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
  }

  .grid__item {
    background-color: lightgray;
    padding: 30px;
    width: auto;
    min-height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 620px) {
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:active {
    color: #000;
    text-decoration: none;
  }

  a:hover {
    color: #1a27c9;
    text-decoration: none;
  }

  a:focus {
    color: #1a27c9;
    text-decoration: none;
  }

  .profile__svg {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }

  .navigation-list li {
    display: none;
    font-size: 15px;
    text-align: center;
    border-bottom: 0.1px solid #dbdbdb;
    border-top: 0.1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    width: 100px;
    padding: 10px;
  }

  .toggle {
    display: block;
    cursor: pointer;
  }

  #toggle:checked + .navigation-list li {
    display: block;
  }

  .navigation-list__item {
    color: #0b0b0b;
  }

  .about-textbox {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }

  .table {
    text-align: center;
    margin: 30px auto 20px;
  }

  .contact-textbox {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }

  .button {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
}

.sun {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@-webkit-keyframes color-change {
  0% {
    color: #fdffbf;
  }

  50% {
    color: #f0ff67;
  }

  100% {
    color: #fffb00;
  }
}

@keyframes color-change {
  0% {
    color: #fdffbf;
  }

  50% {
    color: #f0ff67;
  }

  100% {
    color: #fffb00;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
