/* Colors used:
background-color: #f3f3f3;
Text Color (white): #ffffff;
Secondary Text color (Black): #000000;
Primary Color (black): #0b0b0b;
Secondary Color (Blue): #1a27c9;
tertiary-color: #f3f3f3;
Button-color: #0E156F;
*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

:root {
  --primary-color: #0b0b0b;
  --secondary-color: #1a27c9;
  --tertiary-color: #f3f3f3;
  --button-color: #080d42;
  --text-color: #000;
  --secondary-text-color: #fff;
  --primary-text-color: #000;
  --heading-weight: 700;
  --font-size: 80px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  color: var(--text-color);
  font-family: 'sfpro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

header {
  background-color: var(--primary-color);
}

.hello__world {
  font-size: var(--font-size);
  font-weight: var(--heading-weight);
  text-align: center;
  max-width: 100%;
  padding-top: 80px;
}

.more__info {
  text-align: center;
}

.find__me {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.our__story {
  font-size: var(--font-size);
  font-weight: var(--heading-weight);
  text-align: center;
  padding-top: 20px;
}

.story__book {
  font-size: 20px;
  text-align: center;
}

.our__work {
  text-align: center;
  font-weight: var(--heading-weight);
}

p {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 25px;
  margin-top: -50px;
}

a:visited {
  color: var(--secondary-text-color);
  text-decoration: none;
}

a:active {
  color: var(--secondary-text-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--secondary-color);
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 10px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.8s opacity;
}

.button__secondary {
  background-color: var(--button-color);
  color: var(--secondary-text-color);
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button-container {
  text-align: center;
}

.page-header__item {
  width: 60px;
  height: 60px;
  padding: 15px 0;
}

.social-media {
  margin-top: -30px;
  text-align: center;
}

.table {
  font-size: 15px;
  position: relative;
  text-align: center;
  margin: 30px auto 20px;
  max-width: 100%;
}

.about-textbox {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.contact-textbox {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.profile__svg {
  text-align: center;
  height: 350px;
  padding-left: 280px;
  padding-top: 20px;
}

.profile {
  max-width: 1000px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 300px;
  border-radius: 50%;
  padding: 40px 30px;
  margin: 40px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 0 70px;
  position: fixed;
  top: 0;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  padding: 0;
}

.navigation-list {
  list-style-type: none;
}

.toggle {
  font-size: 26px;
  line-height: 60px;
  color: var(--secondary-text-color);
  display: none;
}

.checkbox {
  display: none;
}

.navigation-list__item {
  text-decoration: none;
  padding: 0 10px;
}

.navigation-list li {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 300px 300px 300px;
  grid-gap: 20px;
  grid-template-rows: 300px 300px;
}

.grid__item {
  background-color: lightgray;
  padding: 30px;
  text-align: center;
}

.grid__titles {
  padding-bottom: 50px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
  }

  .grid__item {
    background-color: #fff;
    padding: 30px;
    width: auto;
    min-height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 620px) {
  a:visited {
    color: var(--primary-text-color);
    text-decoration: none;
  }

  a:active {
    color: var(--primary-text-color);
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: var(--secondary-color);
    text-decoration: none;
  }

  .navigation-list li {
    display: none;
    font-size: 15px;
    text-align: center;
    border-bottom: 0.1px solid #dbdbdb;
    border-top: 0.1px solid #dbdbdb;
    background-color: var(--secondary-text-color);
    padding: 10px;
    width: 100px;
  }

  .profile__portrait {
    float: right;
    width: auto;
    height: 300px;
    margin-top: 100px;
    margin-right: 80px;
  }

  .toggle {
    display: block;
    cursor: pointer;
  }

  #toggle:checked + .navigation-list li {
    display: block;
  }

  .navigation-list__item {
    color: var(--primary-color);
  }

  .profile__svg {
    float: right;
    height: 250px;
    width: 250px;
    padding-right: 70px;
  }

  .about-textbox {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }

  table {
    text-align: center;
    margin: 30px auto 20px;
  }

  .contact-textbox {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }

  .button {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes color-change {
  0% {
    color: #fdffbf;
  }

  50% {
    color: #f0ff67;
  }

  100% {
    color: #fffb00;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
